@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  margin: 0px;
  padding: 0px;
  opacity: 0;
}

.container {
  position: absolute;
  right: 40px;
  top: 200px;
  height: 500px;
  width: 300px;
  border-radius: 20px;
  background-color: #236;
  color: white;
  font-family: 'Roboto Condensed', 'sans serif';
  padding: 14px;
  box-shadow: 3px 3px 13px #111;
  overflow: hidden;
  opacity: 0.8;
}

.header {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 330px;
  height: 80px;
  background: rgb(123,135,207);
  background: linear-gradient(140deg, rgba(123,135,207,1) 0%, rgba(45,41,119,1) 0%, rgba(3,4,28,1) 100%);
  padding-top: 20px;
}

#location {
  width: 100%;
  font-family: 'Courgette', 'cursive';
  font-size: 36px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px #111, 1px -1px #111, -1px 1px #111, -1px -1px #111;
}

#zone {
  width: 100%;
  font-family: 'Courgette', 'sans serif';
  padding: 10px;
  text-align: center;
  margin-top: -10px;
  margin-left: -10px;
  text-shadow: 1px 1px #111, 1px -1px #111, -1px 1px #111, -1px -1px #111;
}

.account-container {
  position: absolute;
  top: 110px;
  width: 300px;
  height: 40px;
}

#accounts {
  font-size: 24px;
  text-align: center;
  width: 100%;
}

.classoption {
  width: 300px;
  height: 28px;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #eee;
  color: #111;
  border-radius: 14px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}

.list-container {
  position: absolute;
  top: 150px;
  width: 300px;
  height: 365px;
  overflow: hidden;
}

#list {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 365px;
  overflow-x: hidden;
}

table {
  border-spacing: 0px;
  width: 100%;
}

td {
  font-family: 'Roboto Condensed';
  font-size: 15px;
  margin: 0px;
  padding: 2px;
}

td.plate {
  font-family: 'Roboto Mono';
  font-size: 15px;
}

tr {
  height: 34px;
}

tr:nth-child(odd) {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #666;
  color: white;
}

.deposit {
  height: 22px;
  width: 22px;
  margin-top: -2px;
  background-color:white;
  -webkit-mask-box-image: url('img/plus.png');
}

.deposit:hover {
  background-color:#171;
  -webkit-mask-box-image: url('img/plus.png');
}

.withdrawal {
  height: 22px;
  width: 22px;
  margin-top: -2px;
  background-color:white;
  -webkit-mask-box-image: url('img/minus.png');
}

.withdrawal:hover {
  background-color:#711;
  -webkit-mask-box-image: url('img/minus.png');
}

.drive {
  height: 16px;
  width: 16px;
  background-color:white;
  -webkit-mask-box-image: url('img/take-out-car.png');
}

input {
  width: 60px;
  height: 20px;
  border-radius: 10px;
  background-color: #999;
  color: #111;
  font-size: 14px;
  font-family: 'Roboto Condensed';
  outline: none;
  text-align: center;
  border: 1px solid #999;
  font-weight: bold;
  margin-top: -2px;
}